# vim: set syntax=i3config:
## Color Class            Border    BG       FG
client.focused            #4C7899 #FF80FF #073642
client.focused_inactive   #333333 #93A1A1 #586E75
client.unfocused          #FDF6E3 #FDF6E3 #002B36
client.urgent             #DC322F #FDF6E3 #DC322F

bar {
    colors {
        background #FDF6E3
        statusline #93A1A1
        separator  #666666

        focused_workspace  #4C7899 #EEE8D5 #073642
        active_workspace   #333333 #93A1A1 #586E75
        inactive_workspace #FDF6E3 #FDF6E3 #002B36
        urgent_workspace   #DC322F #FDF6E3 #DC322F
        binding_mode       #2F343A #FDF6E3 #000000
    }
    #makes sure, that the tray icons are on the primary screen 
    tray_output primary
    #defines the data displayed in the tray
    status_command i3blocks -c ~/.config/i3/i3blocks/i3blocks.conf
}
