.config/VirtualBox/*
.config/google-chrome/*
.ssh*
/*
!.gitignore
!.bashrc
!.vim/*
!Pictures/wallpapers/*
!Pictures/lock/*
!.config/gtk-2.0/*
!.config/gtk-3.0/*
!.config/nvim/coc-settings.json
.vim/spell/en.utf-8.add.spl
.vim/spell/en.utf-8.add
