!! ~/.Xdefaults
!! run `xrdb .Xdefaults` to enable the settings

color0:   #000000
*color1:   #e40000
*color2:   #8dc627
*color3:   #e0ca00
*color4:   #73a1cd
*color5:   #ad8fb1
*color6:   #27c5c6
*color7:   #e8ebe6
*color8:   #939592
*color9:   #f76666
*color10:  #bcf173
*color11:  #fef48e
*color12:  #abcae6
*color13:  #d2b4cf
*color14:  #73f1f1
*color15:  #f7f7f6

!! for xtem 
xterm*vt100.background: black
xterm*vt100.foreground: lightgrey
xterm*faceName: FiraCode Nerd Font Mono
xterm*faceSize: 10
xterm*vt100.bellIsUrgent: true
!Xlf.antialias:true
!Xlf.hinting:true
!Xlf.hintstyle:hintslight
!Xlf.lcdfilter:lcddefault
!Xlf.rgba:rg
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font()

!rofi.lines: 4
!rofi.width: 100
!rofi.padding: 100
rofi.opacity: "75"
rofi.auto-select: true
rofi.eh: 4
rofi.theme: /usr/share/rofi/themes/sidebar
